<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <!-- import Vue before Element -->
  <script src="https://cdn.staticfile.org/vue/2.7.0/vue.min.js"></script>
  <script th:src="@{/js/axios.min.js}"  type="text/javascript" charset="utf-8"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
<div id="app">
  <el-container>
    <el-header style="text-align: right; font-size: 12px">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>查看</el-dropdown-item>
          <el-dropdown-item>新增</el-dropdown-item>
          <el-dropdown-item>删除</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>123</span>
    </el-header>

    <el-main style="text-align: center;">
      <template>
        <el-table :data="tableData" style="width: 100%">

          <el-table-column label="id" width="150">

            <template slot-scope="scope">
              <el-input size="small" v-model="scope.row.userid">
                <span>{{scope.row.userid}}</span>
              </el-input>
            </template>

          </el-table-column>

          <el-table-column label="姓名" width="150">
            <template slot-scope="scope">
              <span style="margin-left: 1px">{{ scope.row.username }}</span>
            </template>
          </el-table-column>

          <el-table-column label="注册日期" width="150">
            <template slot-scope="scope">
              <i class="el-icon-time"></i>
              <span style="margin-left: 1px">{{ scope.row.registertime }}</span>
            </template>
          </el-table-column>

          <el-table-column label="邮箱" width="200">
            <template slot-scope="scope">

              <span style="margin-top: 1px">{{ scope.row.email }}</span>
            </template>
          </el-table-column>

          <el-table-column label="性别" width="150">
            <template slot-scope="scope">

              <span style="margin-left: 10px">{{ scope.row.sex }}</span>
            </template>
          </el-table-column>

          <el-table-column label="权限等级" width="150">

            <template slot-scope="scope">
              <el-input size="small" v-model="scope.row.rights">
                <span>{{scope.row.rights}}</span>
              </el-input>
            </template>

          </el-table-column>

          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">修改权限</el-button>
              <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </template>


    </el-main>
    <el-pagination background layout="prev, pager, next" :total="1000" style="text-align: center;">
    </el-pagination>
  </el-container>
  </el-container>

</div>


</body>

<style>
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
  }

  a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
</style>

<!--<script>-->
<!--  var customerTableVue = new Vue({-->
<!--    el: '#app',-->
<!--    data:{//定义数据-->
<!--      now_page:1,-->
<!--      users:[],-->
<!--      //一些常量-->
<!--      OK :200,-->
<!--      pageInfo:[]-->
<!--    },-->
<!--    methods:{-->
<!--      prePage:function (pageNum) {-->
<!--        if(customerTableVue.pageInfo.isFirstPage){-->
<!--          return;-->
<!--        }-->
<!--        this.listUserSelective(pageNum);-->
<!--      },-->
<!--      nextPage:function (pageNum) {-->
<!--        if(customerTableVue.pageInfo.isLastPage){-->
<!--          return;-->
<!--        }-->
<!--        this.listUserSelective(pageNum);-->
<!--      },-->
<!--      listUserSelective:function (pageNum) {-->
<!--        var username = $("#username_input").val();-->
<!--        Date registertime = $("#registertime_input").val();-->
<!--        var email = $("#email_input").val();-->
<!--        var sex = $("#sex_input").val();-->
<!--        var rights = $("#rights_input").val();-->
<!--        axios({-->
<!--          method: "get",-->
<!--          url : "user/listUser/"+pageNum.toString(),-->
<!--          params:{username:username,registertime:registertime,-->
<!--            email:email,sex:sex,rights:rights}-->
<!--        }).then(function (value) {-->
<!--          if(value.data.code === customerTableVue.OK){-->
<!--            //成功获取到数据渲染表格-->
<!--            customerTableVue.users = value.data.object.list;-->
<!--            customerTableVue.pageInfo = value.data.object;-->
<!--          }else{-->
<!--            alert("服务器错误,获取数据失败！");-->
<!--          }-->
<!--        }).catch();-->
<!--      }-->
<!--      // ,-->
<!--      // deleteUser:function (userId){-->
<!--      //   var kouling = prompt("请重复用户Id:");-->
<!--      //   if (kouling==userId){-->
<!--      //     axios({-->
<!--      //       method: "post",-->
<!--      //       url : "user/delete/"+userId.toString()-->
<!--      //     }).then(function (value) {-->
<!--      //       if(value.data === customerTableVue.OK){-->
<!--      //         //成功获取删除给出提示并重新获取用户列表渲染表格-->
<!--      //         alert("删除成功！");-->
<!--      //         customerTableVue.listUserSelective(1);-->
<!--      //       }else{-->
<!--      //         alert("服务器错误,删除失败！");-->
<!--      //       }-->
<!--      //     }).catch();-->
<!--      //   }else if(kouling !=null) {-->
<!--      //     alert("id不一致!");-->
<!--      //   }-->
<!--      // }-->
<!--    },-->
<!--    mounted:function () {-->
<!--      this.listUserSelective(1);-->
<!--    }-->
<!--  });-->
<!--</script>-->



<script>
  var userTableVue =  new Vue({
    el: '#app',
    data() {
      return {
        tableData: []
      }
    },
    mounted: function() {
      // this.loadUsers(1);
      this.listUserSelective(1);
    },
    methods: {
      listUserSelective:function (pageNum) {
        var userid = this.userid;
        var username = this.username;
        var registertime = this.registertime;
        var email = this.email;
        var sex = this.sex;
        var rights = this.rights;
        axios({
          method: "get",
          url : "user/listUser/"+pageNum.toString(),
          params:{
            userid:userid,
            username:username,
            registertime:registertime,
            email:email,
            sex:sex,
            rights:rights}
        }).then(function (value) {
          if(value.data.code === 1){
            //成功获取到数据渲染表格
            userTableVue.tableData = value.data.object.list;
            userTableVue.pageInfo = value.data.object;
          }else{
            alert("服务器错误,获取数据失败！");
          }
        }).catch();
      },
      loadUsers() {
        var _this = this
        this.axios.get("user/findAllUsers").then(resp => {
          if (resp.data.code === 200) {
            console.log(resp)
            _this.tableData = resp.data.data;
          }
        })
      },
      //   loadUsers(pageNum) {
      //     var _this = this
      //     this.axios.get("user/listUser/"+pageNum.toString()).then(resp => {
      //       // if (resp.data.code === 200) {
      //       console.log(resp)
      //       _this.tableData = resp.data.object.list;
      //       // }
      //     })
      //   },
      handleEdit(index,row) {
        {
          var rights = row.rights
          var userid= row.userid
          alert(rights+"warning");
          alert(userid+"warning");
          axios({
            method: "get",
            url: "user/modifyUserRights",
            params: {
              rights: rights,
              userId: userid
            }
          }).then(function (value) {
            if (value.data ===1)
            {
              alert("修改成功！")
            } else {
              alert("错误：" + value.data + " 请重试。");
            }
          }).catch()
        }
      },
      async handleDelete (index) {
        // 弹框询问用户是否删除数据
        const confirmResult = await this.$confirm('此操作将永久删除该记录, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })



        if (confirmResult !== 'confirm') {
          return this.$message.info('已取消删除')
        }else {
          this.tableData.splice(index,1);
        }
      }
    }

  })
</script>

</html>