<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bjtu.monitor.mapper.AdministratorMapper" >
  <resultMap id="BaseResultMap" type="bjtu.monitor.pojo.table.Administrator" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="adminName" property="adminname" jdbcType="VARCHAR" />
    <result column="adminAcc" property="adminacc" jdbcType="VARCHAR" />
    <result column="adminPassword" property="adminpassword" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="rights" property="rights" jdbcType="INTEGER" />
    <result column="adminEmail" property="adminemail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, adminName, adminAcc, adminPassword, startTime, rights, adminEmail
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bjtu.monitor.pojo.table.AdministratorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from administrator
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from administrator
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="bjtu.monitor.pojo.table.AdministratorExample" >
    delete from administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bjtu.monitor.pojo.table.Administrator" >
    insert into administrator (ID, adminName, adminAcc, 
      adminPassword, startTime, rights, 
      adminEmail)
    values (#{id,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminacc,jdbcType=VARCHAR}, 
      #{adminpassword,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{rights,jdbcType=INTEGER}, 
      #{adminemail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bjtu.monitor.pojo.table.Administrator" >
    insert into administrator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="adminname != null" >
        adminName,
      </if>
      <if test="adminacc != null" >
        adminAcc,
      </if>
      <if test="adminpassword != null" >
        adminPassword,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="rights != null" >
        rights,
      </if>
      <if test="adminemail != null" >
        adminEmail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminacc != null" >
        #{adminacc,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        #{adminpassword,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rights != null" >
        #{rights,jdbcType=INTEGER},
      </if>
      <if test="adminemail != null" >
        #{adminemail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bjtu.monitor.pojo.table.AdministratorExample" resultType="java.lang.Integer" >
    select count(*) from administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update administrator
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adminname != null" >
        adminName = #{record.adminname,jdbcType=VARCHAR},
      </if>
      <if test="record.adminacc != null" >
        adminAcc = #{record.adminacc,jdbcType=VARCHAR},
      </if>
      <if test="record.adminpassword != null" >
        adminPassword = #{record.adminpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rights != null" >
        rights = #{record.rights,jdbcType=INTEGER},
      </if>
      <if test="record.adminemail != null" >
        adminEmail = #{record.adminemail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update administrator
    set ID = #{record.id,jdbcType=INTEGER},
      adminName = #{record.adminname,jdbcType=VARCHAR},
      adminAcc = #{record.adminacc,jdbcType=VARCHAR},
      adminPassword = #{record.adminpassword,jdbcType=VARCHAR},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      rights = #{record.rights,jdbcType=INTEGER},
      adminEmail = #{record.adminemail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bjtu.monitor.pojo.table.Administrator" >
    update administrator
    <set >
      <if test="adminname != null" >
        adminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminacc != null" >
        adminAcc = #{adminacc,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        adminPassword = #{adminpassword,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rights != null" >
        rights = #{rights,jdbcType=INTEGER},
      </if>
      <if test="adminemail != null" >
        adminEmail = #{adminemail,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="bjtu.monitor.pojo.table.Administrator" >
    update administrator
    set adminName = #{adminname,jdbcType=VARCHAR},
      adminAcc = #{adminacc,jdbcType=VARCHAR},
      adminPassword = #{adminpassword,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      rights = #{rights,jdbcType=INTEGER},
      adminEmail = #{adminemail,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>